@import "tailwindcss";
body{
    max-width: 100%;
    background-color: #1a0b2e;
}
.gra{
    background:linear-gradient(#f7e83f00, #fb09b252, #9100f8);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navbar{
    display: flex;
    justify-content: space-between;
    /* width: 1600px; */
    height: 92px;
}
.nav-menu{
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 32px;
}
.primary-btn button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: white;
    font-size:16px;
    font-weight:700;
      background:linear-gradient(#00FF88, rgb(174, 231, 82), rgb(193, 226, 43));
    border: 1px solid;
    border-radius: 1000px;
    width: 135px;
    height: 44px;
    cursor: pointer;
    margin-top: 24px;
    margin-bottom:24px ;
    margin-right: 200px;
}
.hero-section{
    position: relative;
}
.hero-section{
    width: 100%;
}
.hero-section .circle{
    position: absolute;
    top: 40px;
    left: 60px;
    width: 300px;
    height: 300px;
    margin-left: 465px;
    margin-top: 50px;
}
.hero-section .mic{
    position: absolute;
    top: 120px;
    left: 160px;
    width: 150px;
    height: 200px;
     margin-left:440px;
      margin-top: 25px;
}
.hero-section .up-style{
    color: black;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #00FF88;
    border-radius: 1000px;
    padding-top: 2px;
    background-color: #00FF88;
    width: 75px ;
    height: 38px;
    text-align: center;
    position: absolute;
     top: 90px;
    left: 740px;
}
.btn-1{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
   background:linear-gradient(#00FF88, rgb(174, 231, 82), rgb(193, 226, 43));
  border-radius: 1000px;
   gap: 8px;
  font-weight: 600;
  width: 200px;
  height: 44px;
  cursor: pointer;
}
.btn-2{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  width: 147px;
  height: 44px;
  color: #00FF88;
  border: 1px solid;
  border-radius: 1000px;
  cursor: pointer;
}
.button{
   display: flex;
   justify-content: center;
   align-items: center;
    width: 550px;
    width: 550px;
    align-items: center;
  gap: 8px;
}
.hero-info h1{
    color: white;
    font-size: 60px ;
    text-align: center;
    font-weight:800 ;
    width: 550px;
}
.hero-info p{
    color: white;
    width: 550px;
    text-align: center;
    margin-bottom: 24px;
}
.hero-info{
     position: absolute;
     top: 450px;
    left: 400px;
}







@media screen and (max-width:576px) {
    .navbar{
        width: 440px;
        height: 60px;
    }
    .nav-menu{
        display: none;
    }
    .primary-btn{
        display: none;
    }
    .nav-logo h1{
        margin:20px;
    }
    
}
