@import "tailwindcss";
body{
    max-width: 100%;
    background-color: #1a0b2e;
}
.gra{
    background:linear-gradient(#f7e83f00, #fb09b252, #9100f8);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navbar{
    display: flex;
    justify-content: space-between;
    /* width: 1600px; */
    height: 92px;
}
.nav-menu{
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 32px;
}
.primary-btn button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: white;
    font-size:16px;
    font-weight:700;
      background:linear-gradient(#00FF88, rgb(174, 231, 82), rgb(193, 226, 43));
    border: 1px solid;
    border-radius: 1000px;
    width: 135px;
    height: 44px;
    cursor: pointer;
    margin-top: 24px;
    margin-bottom:24px ;
    margin-right: 200px;
}
.hero-section{
    position: relative;
     width: 100%;
     height: 760px;
}

.hero-section .circle{
    position: absolute;
    top: 40px;
    left: 60px;
    width: 300px;
    height: 300px;
    margin-left: 465px;
    margin-top: 50px;
}
.hero-section .mic{
    position: absolute;
    top: 120px;
    left: 160px;
    width: 150px;
    height: 200px;
     margin-left:440px;
      margin-top: 25px;
}
.hero-section .up-style{
    color: black;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #00FF88;
    border-radius: 1000px;
    padding-top: 2px;
    background-color: #00FF88;
    width: 75px ;
    height: 38px;
    text-align: center;
    position: absolute;
     top: 90px;
    left: 740px;
}
.btn-1{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
   background:linear-gradient(#00FF88, rgb(174, 231, 82), rgb(193, 226, 43));
  border-radius: 1000px;
   gap: 8px;
  font-weight: 600;
  width: 200px;
  height: 44px;
  cursor: pointer;
}
.btn-2{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  width: 147px;
  height: 44px;
  color: #00FF88;
  border: 1px solid;
  border-radius: 1000px;
  cursor: pointer;
}
.button{
   display: flex;
   justify-content: center;
   align-items: center;
    width: 550px;
    width: 550px;
    align-items: center;
  gap: 8px;
}
.hero-info h1{
    color: white;
    font-size: 60px ;
    text-align: center;
    font-weight:800 ;
    width: 550px;
}
.hero-info p{
    color: white;
    width: 550px;
    text-align: center;
    margin-bottom: 24px;
}
.hero-info{
     position: absolute;
     top: 450px;
    left: 400px;
}

.podcast{
 height: 222px;
 text-align: center;
 left: 2000px;
 top: 50px;
}
.podcast hr{
    width: 1200px;
    height: 1px;
    margin: 80px auto;
}
.podcast-info h1{
    font-size: 48px;
 font-weight:900;
 color: #00FF88;
 width: 244px;
 height: 58px;
}
.podcast-info p{
     color: white;
     width: 244px;
 height: 20px;
}
.podcast-info{
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 80px;
    margin: 80px 200px 120px 130px;
}
    













   /* mobile */
@media screen and (max-width:576px) 
{
    body{
        width: 100%;
    }
   /* navber */
    .navbar{
        width: 440px;
        height: 60px;
    }
    .nav-menu{
        display: none;
    }
    .primary-btn{
        display: none;
    }
    .nav-logo h1{
        margin:20px;
    }

    /* hero-section */
     .hero-section{
    max-width: 440px;
    height: 466px;
    position: relative;

    }
    .hero-section .circle{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
     margin-left: 0px;
    margin-top: 0px;
  }
  .hero-section .mic{
    position: absolute;
    top: 8%;
    left: 44%;
    width: 50px;
    height: 70px;
     margin-left: 0px;
      margin-top: 0px;
   }
    .hero-section .up-style{
    color: black;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #00FF88;
    border-radius: 1000px;
    padding-top: 1px;
    background-color: #00FF88;
    width: 60px ;
    height: 30px;
    text-align: center;
    position: absolute;
     top: 3%;
    left: 56%;
   }
   .button{
     width: 350px;
    width: 350px;
    gap: 4px;
   }
   .hero-info p{
    width: 350px;
   }
   .hero-info h1{
    width: 350px;
   }

   .hero-info{
       position: absolute;
     top: 30%;
    left: 5%;
   }

   /* prodcast */
.podcast{
    width: 400px;
 height: 205px;
 text-align: center;
 left: 1000px;
 top: 30px;
}
.podcast h1{
font-size: 2em;
}
.podcast p{
    width: 360px;
    height: 152px;
    font-size: 16px;
    margin-left: 5px;
}
.podcast .line{
    width: 300px;
    margin-top: 100px;
}
.podcast-info{
    max-width: 400px;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    gap: 5px;
    margin-left: 10px;
    margin-top: 100px;
}
   

    
}
